* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: rgb(255, 255, 255);
  --purple: rgb(124, 93, 250);
  --red: rgb(236, 87, 87);
  --ItemList: rgb(119, 127, 152);
  --discardBtnBg: rgb(248, 250, 254);
  --purpleHover: rgb(146, 119, 255);
  --redHover: rgb(255, 151, 151);
  --gray: rgb(133, 139, 178);
}
.dark-theme {
  --navBg: rgb(30, 33, 57);
  --bg: rgb(20, 22, 37);
  --headingColor: rgb(255, 255, 255);
  --paragraphColor: rgb(223, 227, 250);
  --cardsBg: rgb(37, 41, 69);
  --checkBoxBg: rgb(30, 33, 57);
  --labelColor: rgb(223, 227, 250);
  --inputBorder: rgb(30, 33, 57);
  --inputBg: rgb(30, 33, 57);
  --addNewItemBg: rgb(37, 41, 69);
  --addNewItemFont: rgb(223, 227, 250);
  --scrollBG: rgb(16, 16, 24);
  --draftBtnFont: rgb(151, 151, 151);
  --draftBtnBG: rgb(37, 41, 69);
  --draftBtnFontHover: rgb(223, 227, 250);
  --draftBtnBGHover: rgb(255, 255, 255);
  --graySubmitBtnBGHover: rgb(30, 33, 57);
  --singleCardMainBottomTotalBG: rgb(12, 14, 22);
}
.light-theme {
  --navBg: rgb(55, 59, 83);
  --bg: rgb(248, 247, 252);
  --headingColor: rgb(12, 14, 22);
  --paragraphColor: rgb(136, 142, 176);
  --cardsBg: rgb(255, 255, 255);
  --checkBoxBg: rgb(223, 227, 250);
  --labelColor: rgb(126, 136, 195);
  --inputBorder: rgb(223, 227, 250);
  --inputBg: rgb(255, 255, 255);
  --addNewItemBg: rgb(249, 250, 254);
  --addNewItemFont: rgb(126, 136, 195);
  --scrollBG: rgb(151, 151, 151);
  --draftBtnFont: rgb(126, 136, 195);
  --draftBtnBG: rgb(249, 250, 254);
  --draftBtnFontHover: rgb(126, 136, 195);
  --draftBtnBGHover: rgb(223, 227, 250);
  --graySubmitBtnBGHover: rgb(12, 14, 22);
  --singleCardMainBottomTotalBG: rgb(55, 59, 83);
}
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background: var(--bg);
  transition: all 0.3s linear;
}
h1 {
  color: var(--headingColor);
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
h2 {
  color: var(--headingColor);
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.63px;
}
h3 {
  color: var(--ItemList);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
  margin-top: 20px;
}
h4 {
  color: var(--purple);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}
p {
  color: var(--paragraphColor);
}
button {
  border: none;
  cursor: pointer;
  height: 48px;
  border-radius: 24px;
  font-weight: 700;
}
.empty-card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
}
.empty-card-list-bg {
  background-image: url("./assets/icons/illustration-empty.svg");
  height: 200px;
  width: 242px;
  background-repeat: no-repeat;
}
.empty-card-list h2,
.empty-card-list p {
  margin-top: 25px;
  width: 242px;
}
.empty-card-list p {
  line-height: 18px;
}
.posFixed {
  position: fixed;
}
@media (max-width: 1200px) {
  .posTop {
    top: 80px;
    position: relative;
  }
}
